[Desktop Entry]
Encoding=UTF-8
Name=Add Key
Name[am]=ቁልፍ መጨመሪያ
Name[ca]=Afegeix tecla
Name[de]=Tastenkürzel hinzufügen
Name[el]=Add Key
Name[es]=Agregar llave
Name[fr]=Ajout d'un raccourci clavier
Name[it]=Aggiungi chiave
Name[nl]=Voeg Sleutel Toe
Name[pt]=Adicionar Atalho
Name[sv]=Lägg till Tangent
Comment=Add keybinds to fluxbox, jwm, icewm key files
Comment[am]=ቁልፍ ማጣመሪያ መጨመሪያ ወደ fluxbox, jwm, icewm ቁልፍ ፋይሎች
Comment[ca]=Afegeix dreceres de teclat a fluxbox, jwm, icewm
Comment[de]=Tastenkürzel zu Kürzeldateien von fluxbox, jwm, icewm hinzufügen
Comment[el]=Προσθέστε keybinds για fluxbox, JWM, IceWΜ
Comment[es]=Añadir atajos de teclas a archivos llaves de fluxbox, jwm, y icewm
Comment[fr]=Ajouter un raccourci clavier à fluxbox, jwm, icewm
Comment[it]=Aggiungi scorciatoie da tastiera ai file chiave di Fluxbox, jwm e IceWM 
Comment[nl]=Voeg sleutelverbindingen toe aan fluxbox, jwm, icewm sleutelbestanden
Comment[pt]=Adiciona atalhos de teclado aos ficheiros de atalhos do fluxbox, do jwm ou do icewm
Comment[sv]=Lägg till  tangentbindningar till fluxbox, jwm, icewm nyckelfiler
Exec=add-key
Icon=preferences-desktop-keyboard-shortcuts
Terminal=false
Type=Application
Categories=Settings;
NoDisplay=False
