[Desktop Entry]
Encoding=UTF-8
Name=add-key
Exec=add-key
Icon=preferences-desktop-keyboard-shortcuts.png
Terminal=false
Type=Application
Categories=Other;
NoDisplay=True
