[Desktop Entry]
Encoding=UTF-8
Name=Add Key
Exec=add-key
Icon=preferences-desktop-keyboard-shortcuts
Terminal=false
Type=Application
Categories=Settings;
NoDisplay=False
